@{ Layout = "~/Views/Shared/_LayoutAccount.cshtml"; }

<div class="contact-wrapper">
	<div class="profile-title">
		<h2>@StringsFoundation.EmailSent</h2>
	</div>
	<div class="profile-lang-location-membership"></div>
	<div style="padding:0 0 10px 10px">
		<h4>@StringsFoundation.EmailWithPasswordResetInfoSentMsg</h4>
	</div>
</div>
	
