
$palette_lightest       : white;
$palette_darkest        : black;

$palette_neutral_dark   : #554236;

$palette_hover_light    : #f4faf0; // (LightGreen) Denote the item is being moused over, or it's an item recently added to the list
$palette_in_focus       : #83bc5c; // (MediumGreen) Denote items that are important or selected, like buttons, counters and opened items
$palette_in_focus_flash : #93cc6c; // Slightly lighter version of $palette_in_focus