/*
	USAGE:

	@include keyframes(your-animation-name) {
		0% { opacity: 0; padding-right:20px; }
		100% { opacity: 1; padding-right:0; }
	}

.your-element-to-animate {
  @include animation(
		'your-animation-name 1s 1'
		,'your-other-animation-name .5s 1 .5s'  <== OPTIONAL: CHAINED ANIMATIONS
	);
} 

*/

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max { $animations: #{$animations + ", "}; }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes ($animationName) {
	@-webkit-keyframes #{$animationName} { @content; }
	@-moz-keyframes #{$animationName} { @content; }
	@-o-keyframes #{$animationName} { @content; }
	@keyframes #{$animationName} { @content; }
}

