<style>
	#privacyPolicy { text-align: justify; text-justify: inter-word; }
	#privacyPolicy h2 { font-weight:bold }
	#privacyPolicy h3 { font-weight:bold }
	copyright { font-size: 100px; text-align:center }
</style>

<div id="privacyPolicy" class="content-wrapper container">

	<h2><b>Privacy Policy</b></h2>

	<p>Last Revised: August 14th, 2015</p>

	<p>Welcome to Hellolingo (“Service”, “we”, “us”, “our”), an online community for learning languages, is owned and operated by Considerate LLC (“Considerate”) under the internet domain hellolingo.com. Considerate is committed to safeguarding your privacy, and this privacy policy explains our data collection, use, and disclosure practices.</p>

	<h3>1.	Information Collected</h3>
	<p>We receive and store any information you enter through the Service or give us in any other way.  This includes information that can identify you (“personal information”), including your first and last name and e-mail addresses.  We also may ask you to provide additional information about yourself, including your age, hobbies, location, and interests in learning languages.  You can choose not to provide this information to us, but in general some information about you is required in order for you to sign up or participate in the features offered through the Service.</p>
	<p>We automatically collect some information when you visit the Service. We also may collect information about your activity on this Service.  One of our goals in collecting this automatic information is to help improve your user experience. Also, we may combine information about you that we have with information we obtain from business partners or others and we may collect information about your transactions with us and with some of our business partners. Finally, when you visit the Service, we may assign your computer a “cookie” to remember who you are as well as your settings.</p>

	<h3>2.	Use of Personal Information</h3>
	<p>We will use personal information about you for the following general purposes: to provide you with the products and services you request; to respond to your questions and comments; to communicate with you via electronic means about our programs and services; to measure interest in and improve our services; to solicit information from you, including through surveys; to resolve disputes, collect fees, or troubleshoot problems; to prevent potentially illegal activities; to enforce our Terms of Use; and otherwise as described to you.</p>

	<h3>3.	Third Party Advertising</h3>
	<p>This privacy policy covers the use of cookies by Considerate and does not cover the use of cookies by any advertisers. Considerate does not give advertisers access to your individual personal account information. Considerate may share general demographic information (such as aggregated statistics about members' interests and occupations) and non-personally identifiable information (such as browser type and IP addresses) with advertisers and partners.</p>
	<p>Advertisements appearing on the Service, Product or Services may be delivered to users by Considerate or one of our Web advertising partners. Our Web advertising partners may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement. In this way, ad servers may compile information about where you, or others who are using your computer, saw their advertisements and determine which ads are clicked on. This information allows an ad network to deliver targeted advertisements that they believe will be of most interest to you.</p>

	<h3>4.	Disclosure of Personal Information</h3>
	<p>We display your profile information (minus your email and password) to people browsing the Service, and to support other Service functions.  We also may disclose your personal information to the following entities:
	(a) Third-party vendors who provide services or functions on our behalf, including customer service, business analytics, marketing, and services to us in connection with operating the Service.  These companies have access to personal information needed to perform their functions and are not permitted to share or use the information for any other purpose.
	(b) To business partners with whom we may jointly offer a product or service offering. You can tell when a third party is involved because the third party’s name will appear on informational materials. If you choose to take advantage of these offerings, we may share information about you, including personal information, with those named partners.  Please note that we do not control the privacy practices of these third-party business partners;
	(c) Other Third Parties: We may share non-personal information with other third parties that are not described above. When we do so we endeavor to either aggregate or de-identify the information so that a third party would not be likely to link data to you, your computer, or your device. Aggregation means that we combine the non-personal information of numerous people together so that the data does not relate to any one person. De-identify means that we remove or change (e.g., hash) certain pieces of information that might be used to link data to a particular person.
	(d) Other Third Parties (with your consent). We may share any information, including sensitive personal information, with other third parties that are not described above if you give us consent to do so.
	(e) When advisable or necessary to conform to legal and regulatory requirements; 
	(f) As necessary, in Considerate’s sole discretion, to protect the perceived rights, safety and property of Considerate, users of the Service, and the public; and 
	(g) In connection with a change of control or operations, including without limitation in any merger, acquisition, reorganization, restructuring or any other transfer of Considerate's assets, or a transfer of the Service operations. </p>
	<p>Please note that when you provide Considerate with personal information through the Service, the information will be housed on servers located in the United States, Ireland, The Netherlands or Japan.  In addition, the entities (described above) that may receive personal information may be established in other countries.  The United States does not necessarily provide an equivalent level of protection as that provided in the EU or other countries.  However, we believe that the practices described in this Privacy Policy satisfy the requirements of EU and international data protection law, and by using this website, you understand and agree that your personal information may be used, stored, and processed in the United States in accordance with this policy.</p>
	<p>Other than as set out above, you will be notified when personal information about you will be shared with third parties, and you will have an opportunity to choose not to have us share such information.</p>

	<h3>5.	Publicly accessible information</h3>
	<p>Please keep in mind that whenever you voluntarily disclose personal information online, that information can be collected and used by others.  By posting personal information online that is publicly accessible, you may receive unsolicited messages from other parties in return.</p>

	<h3>6.	Access to Personal Information</h3>
	<p>You may obtain a copy of any personal information about you that you provide through the Service or otherwise request that Considerate update or make changes to such personal information by sending an email to info@Hellolingo.com.</p>

	<h3>7.	Compliance with children's online privacy protection act</h3>
	<p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Site from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>

	<h3>8.	Security</h3>
	<p>Considerate employs safety precautions to guarantee that your data are protected against loss, modification or misuse. To this end, Considerate works with constantly updated firewalls meeting the industry standard and has implemented appropriate administrative, technical, and physical security procedures to help protect personal information. At the same time, the user should be aware of the fact that one hundred per cent protection against attacks cannot be guaranteed because of the continual appearance of new viruses and other means of attacking the protected data systems of Internet services. Lesson Nine will instigate civil and criminal proceedings against any attack by hackers and the like and will inform the users of any cases in which their data have been compromised.</p>

	<h3>9.	Third Party Websites</h3>
	<p>Web sites to which this Service links do not operate under this Privacy Policy.  We recommend that you examine the privacy statements posted on those other web sites to understand their procedures for collecting, using, and disclosing personal information.</p>

	<h3>10.	Changes to This Privacy Policy</h3>
	<p>We may update this Privacy Statement at any time, so please review it frequently. If we change our Privacy Statement, we will post the revised version here, with an updated revision date. If we make significant changes to our Privacy Statement, we may also notify you by other means prior to the changes taking effect, such as sending an email or posting a notice on our Service.</p>

	<h3>11.	How You Can Contact Us</h3>
	<p>If you have questions about this privacy policy, please e-mail us at info@Hellolingo.com.  You may request a copy or send a correction of the personal information we hold about you by contacting the Privacy Officer at:</p>
	Privacy Officer<br />
	Considerate LLC<br />
	320 23rd St S, Suite 928<br />
	Arlington, VA 22202<br />
	USA
	<br />
	<br />
	<div class="copyright">Copyright © 2016 Considerate LLC.  All rights reserved.</div>

</div>
