<style>
	#termsOfUse { text-align: justify; text-justify: inter-word; }
	#termsOfUse h2 { font-weight:bold }
	#termsOfUse h3 { font-weight:bold }
	copyright { font-size: 100px; text-align:center }
</style>

<div id="termsOfUse" class="content-wrapper container">

	<h2><b>Terms of Use</b></h2>

	<p>Last Revised: August 14th, 2015</p>
	<p>Welcome to Hellolingo (“Service”, “we”, “us”, “our”), an online community for learning languages, is owned and operated by Considerate LLC (“Considerate”) under the internet domain hellolingo.com. You can use Hellolingo to improve your knowledge of languages over your internet browser, but also through mobile applications and computer software The following Terms of Use Agreement (“Agreement”) governs your access to and use of the Service.  Please review the entire Agreement carefully.</p>

	<h3>1.	General</h3>
	<p>Considerate reserves the right to change the Agreement at any time at its sole discretion. You should check the Service from time to time to review the then current Agreement because it is binding on you. Your continued use of the Service constitutes your acceptance of any changes to the Agreement.</p>

	<h3>2.	Privacy</h3>
	<p>Your use of the Service will be governed by the Service <a href="/privacy-policy">Privacy Policy</a>.  By checking the box indicating you accept the terms of this Agreement, you also indicate that you understand and consent to the information collection, use, and disclosure practices described in our <a href="/privacy-policy">Privacy Policy</a>.</p>

	<h3>3.	Applicable Laws</h3>
	<p>You are required to comply with all applicable laws in connection with your access to and use of the Service, and such further limitations as may be set forth in any written or online notice from Considerate.  As a condition of your access to and use of the Service, you warrant that you will not use the Service for any purpose that is unlawful or prohibited by the Agreement.  Use of the Service is for your personal and non-commercial use, and Considerate does not grant you any express or implied rights to access or use the Service for any other purpose.</p>

	<h3>4.	Agreement</h3>
	<p>By accessing or using the Service, you confirm that you agree to be bound by these Terms of Use. You also confirm that you are 16 years old or older and, if you are younger than 18, that you have the permission of your parent or legal guardian, who will take responsibility for your compliance with these Terms of Service.</p>
	<p>If you do not agree to comply with these or any future Terms of use, do not or continue to use or access the Service.</p>
	<p>Unless otherwise agreed to in writing between the parties, either party may terminate the Agreement at any time upon notice to the other party. In such event, (a) Considerate shall continue to perform those Considerate services necessary to complete any open interaction or transaction between you and another Member; and (b) you may continue to be obligated to pay Considerate for any Services for which you have engaged from Considerate.</p>

	<h3>5.	Membership</h3>
	<p>To become a Service member, you need to sign up with the Service.  When signing up, you must fill in all mandatory fields with true, accurate, current and complete information about yourself as prompted in the sign up form and maintain and promptly update this information to keep it true, accurate, current and complete.  Considerate has the right to suspend or terminate your account and refuse any and all current or future use of its service if it suspects that such information is untrue, inaccurate, not current or incomplete.</p>
	<p>Members must register with a valid personal email address that they access regularly. If a member signs up with someone else's email address, or with temporary email addresses then his account may be terminated without notice. We may require Members to re-validate their registration if we believe they have been using an invalid email address. We reserve the right to terminate an account if a member is seen to be using proxy IPs (Internet Protocol addresses).</p>
	<p>Without limiting Considerate’s other remedies, we may issue a warning, temporarily suspend, indefinitely suspend or terminate your account, and refuse to provide any or all Services to you if: (a) you breach any terms and conditions of the Terms of Use or the linked policies and information incorporated herein by reference, including our written policies and procedures posted on the Service; (b) we are unable to verify or authenticate any information you provide to us; or (c) we believe in our sole discretion that your actions may cause legal liability for you, our Members or for Considerate or are contrary to the interests of the Service or the Considerate user community. Once temporarily suspended, indefinitely suspended or terminated, you may not continue to use the Service under the same Account, a different Account or reregister under a new Account. When your membership is terminated, you may no longer have access to data, messages, files and other material you keep on the Service. The material may be deleted.</p>
	<p>Without limiting Considerate’s other remedies, to the extent you engage in actions or activities which circumvent the Considerate Service or otherwise reduce fees owed to Considerate under the Terms of Service, you will pay Considerate for all fees owed to Considerate and reimburse Considerate for all losses and costs (including any and all Considerate employee time) and reasonable expenses (including attorney fees) related to investigating such breach and collecting such fees.</p>
	<p>You acknowledge and agree that the value, reputation and goodwill of the Service depend on transparency of Member account status to all Members. You therefore agree as follows: IN THE EVENT CONSIDERATE SUSPENDS OR TERMINATES YOUR REGISTRATION, CONSIDERATE WILL HAVE THE RIGHT BUT NOT THE OBLIGATION TO (1) NOTIFY OTHER MEMBERS TO INFORM THEM OF YOUR SUSPENDED OR TERMINATED REGISTRATION STATUS AND (2) PROVIDE THEM WITH SUMMARY REASONS FOR THE ACTION.</p>

	<h3>6.	Security</h3>
	<p>You are responsible for maintaining the confidentiality of the password you provided during the sign up process, and you are fully responsible for all activities that occur under your password or account.  You agree to immediately notify the Service of any unauthorized use of your password or any other breach of security.</p>

	<h3>7.	Storage</h3>
	<p>You acknowledge that Considerate may establish general practices and limits concerning use of the Service, including without limitation the maximum number of days that messages, postings or other uploaded content will be retained by the Service, the maximum number of messages, postings or other content that may be sent from or received by an account on the Service, the maximum size of any message or other content that may be sent from or received by an account on the Service, the maximum disk space that will be allocated on the Service servers on your behalf, and the maximum number of times (and the maximum duration for which) you may access the Service in a given period of time.  You agree that Considerate has no responsibility or liability for the deletion or failure to store any messages and other communications or other content maintained or transmitted by the Service.</p>
	<p>You acknowledge that Considerate reserves the right to log off accounts that are inactive for an extended period of time. You further acknowledge that Considerate reserves the right to modify these general practices and limits from time to time.</p>

	<h3>8.	Copyrights</h3>
	<p>All copyright rights in the text, images, photographs, graphics, user interface, and other content provided on the Service, and the selection, coordination, and arrangement of such content (“Content”), are owned by Considerate or its third-party licensors to the full extent provided under the United States Copyright Act and all international copyright laws.  Except as otherwise indicated, you are authorized to make use of the Content for educational and non-commercial purposes only, provided that you maintain all copyright and other notices posted along with the Content.  Any reproduction, copying, or redistribution of the Content for commercial purposes is strictly prohibited without Considerate’s prior written consent.  Requests for permission to reproduce any Content must be made in writing to:</p>
	Considerate LLC<br />
	320 23rd St S, Suite 928<br />
	Arlington, VA 22202<br />
	USA

	<h3>9.	Trade and Service Mark Rights</h3>
	<p>All rights in the product names, company names, trade names, logos, product packaging, and designs of all Considerate or third-party products or services, whether or not appearing in large print or with the trademark symbol, belong exclusively to Considerate or their respective owners and are protected from reproduction, imitation, dilution, or confusing or misleading uses under national and international trademark and copyright laws.  The use or misuse of these trademarks or any materials, except as permitted herein, is expressly prohibited, and nothing stated or implied on the Service confers on you any license or right under any patent or trademark of Considerate or any third party.</p>

	<h3>10.	User Content and Communications</h3>
	<p>Other than personal information, which is covered under the Service <a href="/privacy-policy">Privacy Policy</a>, any information you transmit or post to the Service shall be considered non-confidential and non-proprietary.  Considerate does not claim ownership of any information or material you transmit, distribute, post, communicate or store on, to or through the Service.  However, by submitting or posting information on, to, or through the Service, you agree that Considerate shall be free in perpetuity to read, listen to, copy, disclose, distribute, incorporate, and otherwise use and modify such information and all data, images, sounds, text and other materials embodied therein for any and all commercial or non-commercial purposes.  No compensation will be paid with respect to the use of this information.</p>
	<p>You agree not to transmit, distribute, post, communicate or store information or other material on, to or through the Service that: (a) is copyrighted, unless you are the copyright owner; (b) infringes on any other intellectual property rights of others or on the privacy or publicity rights of others; (c) reveals a trade secret, unless you own it; (d) is vulgar, obscene, libelous, defamatory, threatening, harassing, abusive, hateful, sexually-explicit, or embarrassing to any other person or entity as determined by Considerate in its sole discretion; (e) is illegal or otherwise objectionable; (f) constitutes advertisements or solicitations of business, surveys, contests, chain letters or pyramid schemes; (g) contains viruses, Trojan horses, worms, time bombs, or other computer programming routines or engines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information. (h) constitutes spamming or other off-topic material, or is objectionable, unlawful, harassing, defamatory, abusive, threatening, harmful, obscene, profane, indecent, sexually oriented, sexist, racially offensive or any other form of discrimination.</p>
	<p>By using this Service, you understand and agree that Considerate may at any time monitor and/or review the Service. Reviewing the Service includes, and is not limited to editing / revising / removing / modifying (in whole or part) account information, profile information, messages or other material, and monitoring includes and is not limited to use, or disclosing any content or communication posted or transmitted by, to, or from you on the Service. We reserve the right to remove any content or account that we determine vulgar or contrary to the spirit of learning languages, that infringes or violates any party's intellectual property, or that constitutes a breach of the terms of use.</p>
	<p>You further understand and agree that Considerate may use or disclose any information related to you (including content or communications posted or transmitted on the Service) for any reason related to the operation of the Service, in order to investigate, prevent, or take action regarding activities that may be prohibited or unlawful, to exercise our legal rights under the Agreement, or otherwise to protect the rights and property of Considerate or any third party.</p>

	<h3>11.	Prohibited Uses Generally</h3>
	<p>Without limiting the foregoing, you agree not to: 
	(a) delete or revise any material or other information of any other user or the Service members;
	(b) harvest or otherwise collect information about others, including e-mail addresses, without their consent;
	(c) take any action that imposes an unreasonable or disproportionately large load on the Service’s infrastructure;
	(d) use any device, software or routine to interfere or attempt to interfere with the proper working of the Service or any activity being conducted on the Service;
	(e) use or attempt to use any engine, software, tool, agent or other device or mechanism (including, without limitation, browsers, spiders, robots, avatar’s or intelligent agents) to navigate or search the Service other than the search engine and search agents available from the Service and other than generally available third-party web browsers (e.g., Google Chrome or Microsoft Internet Explorer);
	(f) attempt to decipher, decompile, disassemble or reverse-engineer any of the software comprising or in any way making up a part of the Service;
	(g) solicit the Service members and guests to join outside sites or online services or organizations;
	(h) disrupt the normal flow of dialogue, cause a screen to “scroll” faster than other users are able to type, or otherwise act in a manner that negatively affects other users’ abilities to engage in real time exchanges.
	(i) behave in a disruptive, offensive or abusive manner: contributions must be constructive and polite, not mean-spirited or contributed with the intention of causing trouble.
	(k) impersonate any users, members, or any other persons, related to the Service or not.
	(l) sign up for more than one account, sign up for an account on behalf of an individual other than yourself, or sign up for an account on behalf of any group or entity;</p>
	<p>You further agree not to violate or attempt to violate the security of the Service, including, without limitation: 
	(a) accessing data not intended for you or logging into a server or account that you are not authorized to access;
	(b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; or
	(c) attempting to interfere with service to any user, host, or network.</p>
	<p>Violations of system or network security may result in civil or criminal liability.  In accordance with these Terms of Use, Considerate will investigate and work with law enforcement authorities to prosecute users who are involved in such violations.</p>

	<h3>12.	Member Disputes</h3>
	<p>You are solely responsible for your interactions with other members and users of the Hellolingo community. Hellolingo reserves the right, but has no obligation, to monitor disputes between you and other members.</p>

	<h3>13.	Modifications and availability of Service</h3>
	<p>We reserve the absolute right to alter, suspend or discontinue any aspect of the Service, including access to it. Any new features on the Service, including but not limited to the release of new services, shall be subject to the Terms.</p>

	<h3>14.	Third-Party Content and Links to Third-Party Web Sites</h3>
	<p>The Service may contain third-party owned content and links to other websites (“Linked Sites”) and resources.  Considerate does not endorse, sponsor, recommend, or otherwise accept responsibility for any Linked Sites.  In addition, Linked Sites are not under the control of Considerate, and Considerate is not responsible for the content or privacy practices of the Linked Sites, including, without limitation, links contained on Linked Sites or any changes or updates to Linked Sites.  Considerate is providing third-party content and Linked Sites to you only as a convenience, and the inclusion of such third-party content and Linked Sites is not an endorsement by Considerate in favor of any third party.</p>

	<h3>15.	Notice of Copyright Infringement</h3>
	<p>If you believe that your work has been copied and is accessible on the Service in a way that constitutes copyright infringement, please provide Considerate’s Copyright Agent with the following information:
	(a) identification of the copyrighted work claimed to have been infringed;
	(b) identification of the allegedly infringing material on the Service that is requested to be removed;
	(c) your name, address, and daytime telephone number, and an e-mail address if available, so that Considerate may contact you if necessary;
	(d) a statement that you have a good faith belief that the use of the copyrighted work is not authorized by the copyright owner, its agent, or the law;
	(e) a statement that the information in the notification is accurate and, under penalty of perjury, that the signatory is authorized to act on behalf of the owner of an exclusive copyright right that is allegedly infringed; and
	(f) an electronic or physical signature of the copyright owner or someone authorized on the owner’s behalf to assert infringement of copyright and to submit the statement.</p>
	<p>Considerate’s Copyright Agent for notice of claims of copyright infringement on the Service can be reached as follows:</p>
	Copyright Agent<br />
	Considerate LLC<br />
	320 23rd St S, Suite 928<br />
	Arlington, VA 22202<br />
	USA
	<p>Considerate will remove any content that infringes upon the copyright of any person under the laws of the United States upon receipt of such a statement (or, more specifically, any statement in conformance with 17 U.S.C. § 512(c)(3)). United States law provides significant penalties for submitting such a statement falsely.</p>

	<h3>16.	Disclaimer of Warranties</h3>
	<p>THE SERVICE IS PROVIDED “AS IS.”  CONSIDERATE MAKES NO REPRESENTATION OR WARRANTY OF ANY KIND WHATSOEVER RELATING TO THE SERVICE, LINKED SITES, OR OTHER CONTENT THAT MAY BE ACCESSIBLE DIRECTLY OR INDIRECTLY THROUGH THE SERVICE.  CONSIDERATE DISCLAIMS TO THE MAXIMUM EXTENT PERMITTED BY LAW ANY AND ALL SUCH REPRESENTATIONS AND WARRANTIES.</p>
	<p>WITHOUT LIMITING THE GENERALITY OF THE FOREGOING,  CONSIDERATE DISCLAIMS TO THE MAXIMUM EXTENT PERMITTED BY LAW ANY AND ALL (a) WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, (b) WARRANTIES AGAINST INFRINGEMENT OF ANY THIRD-PARTY INTELLECTUAL PROPERTY OR PROPRIETARY RIGHTS, (c) WARRANTIES RELATING TO THE TRANSMISSION OR DELIVERY OF THE SERVICE, (d) WARRANTIES RELATING TO THE ACCURACY, RELIABILITY, CORRECTNESS, OR COMPLETENESS OF DATA MADE AVAILABLE ON THE SERVICE OR OTHERWISE BY  CONSIDERATE , AND (e) WARRANTIES OTHERWISE RELATING TO PERFORMANCE, NONPERFORMANCE, OR OTHER ACTS OR OMISSIONS BY  CONSIDERATE OR ANY THIRD PARTY.  FURTHER, THERE IS NO WARRANTY THAT THE SERVICE WILL MEET YOUR NEEDS OR REQUIREMENTS OR THE NEEDS OR REQUIREMENTS OF ANY OTHER PERSON.</p>
	<p>Considerate MAKES NO WARRANTIES OR REPRESENTATIONS, EXPRESS OR IMPLIED, (a) THAT THE INFORMATION PROVIDED THROUGH THE SERVICE WILL BE FREE FROM ERROR, OMISSION, INTERRUPTION, DEFECT, OR DELAY IN OPERATION, OR FROM TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS; (b) THAT THE SERVICE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (c) THAT DEFECTS OR ERRORS IN THE SERVICE WILL BE CORRECTED; OR (d) THAT THE CONTENT ON THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.  ANY INFORMATION ON THIS SERVICE IS SUBJECT TO CHANGE WITHOUT NOTICE, AND CONSIDERATE DISCLAIMS ALL RESPONSIBILITY FOR THESE CHANGES.</p>
	<p>ANY AND ALL PRICING, DELIVERY, OR CONTRACT INFORMATION IS SUBJECT TO FINAL CONFIRMATION BY CONSIDERATE.  YOUR RELIANCE ON SUCH INFORMATION PROVIDED SOLELY THROUGH THE SERVICE IS AT YOUR OWN RISK.</p>

	<h3>17.	Limitation of Liability</h3>
	<p>The views expressed by users are theirs and are not shared by us. We are not responsible for any information provided by users via the Service.</p>
	<p>IN NO EVENT WILL CONSIDERATE OR ITS AFFILIATES, OR ANY PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICE BE LIABLE FOR ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS, USE, MISUSE, OR INABILITY TO USE THE SERVICE OR ANY LINKED SITES, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, OR LINE OR SYSTEM FAILURE.  IN THE EVENT THAT YOU HAVE A DISPUTE WITH ANOTHER USER RELATED TO, ARISING FROM, OR IN ANY WAY CONNECTED WITH USE OF THE SERVICE, YOU RELEASE CONSIDERATE FROM ANY CLAIMS, DEMANDS, AND DAMAGES OF EVERY KIND AND NATURE ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH A DISPUTE.</p>
	<p>These limitations apply whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if Considerate has been advised of the possibility of such damage.  Because some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, Considerate’s liability in such jurisdictions shall be limited to the extent permitted by law.</p>

	<h3>18.	Indemnification</h3>
	<p>YOU AGREE TO DEFEND, INDEMNIFY, AND HOLD HARMLESS CONSIDERATE AND THIRD PARTIES WHO CONTRIBUTE TO THE SERVICE FROM ANY LOSS, DAMAGE, OR COST (INCLUDING ATTORNEYS' FEES) RESULTING FROM YOUR VIOLATION OF THE AGREEMENT.</p>

	<h3>19.	Choice of Law and Forum</h3>
	<p>The Agreement is subject to the laws of the State of Virginia.  If there is any dispute between us concerning the Agreem¬ent or your access to or use of the Service, we both agree to submit the dispute to non-binding mediation, followed by binding arbitration.  Both the mediation and the arbitration will be governed under the rules of the American Arbitration Association, and the venue for the arbitration will be the Eastern District of Virginia.</p>

	<h3>20.	Termination</h3>
	<p>Considerate reserves the right, in its sole discretion, to terminate your access to and use of the Service, with or without notice.  Otherwise applicable sections of the Agreement shall survive termination.</p>

	<h3>21.	No Waiver</h3>
	<p>The failure of Considerate to enforce any provisions of the Agreement or respond to a breach by you or other parties shall not in any way waive its right to enforce subsequently any terms or conditions of the Agreement or to act with respect to similar breaches.</p>

	<h3>22.	Miscellaneous</h3>
	<p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and Considerate as a result of the Agreement or your access to and use of the Service. A printed version of the Agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. Unless otherwise specified herein, the Agreement constitutes the entire agreement between you and Considerate and governs your use of the Service. If any portion of the Agreement is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intention of the parties, and the remaining portions shall remain in full force and effect.</p>
	<br />
	<br />
	<div class="copyright">Copyright © 2016 Considerate LLC.  All rights reserved.</div>

</div>
