<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
	
	<!-- =====================-->
	<!-- ROOT LOGGER          -->
	<!-- =====================-->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="FileAppender.Info" />
		<appender-ref ref="FileAppender.Errors" />
		<!--<appender-ref ref="FileAppender.Warnings" />-->
	</root>

	<!-- =====================-->
	<!-- PARENT APPENDERS     -->
	<!-- =====================-->

	<!-- Parent Appender for common attributes -->
	<appender name="FileAppender">
		<rollingStyle value="Date" />
		<appendToFile value="true" />
		<staticLogFileName value="false" />
	</appender>

	<!-- ======================-->
	<!-- FILEAPPENDER CHILDREN -->
	<!-- ======================-->

	<!-- Appender for everything -->
	<appender name="FileAppender.Info" type="log4net.Appender.RollingFileAppender">
		<immediateFlush value="true"/>
		<file value="..\Logs\HellolingoWebApp.log" type="log4net.Util.PatternString" />
		<encoding value="utf-8" />
		<maximumFileSize value="10GB" />
		<datePattern value="-yyyy-MM-ddTHH" />
		<dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime" />
		<preserveLogFileNameExtension value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss,fff}%property{tab}%thread%property{tab}%-15logger{1}%property{tab}%level%property{tab}%message%newline%exception" />
		</layout>
		<!--<filter type="log4net.Filter.StringMatchFilter">
			<stringToMatch value="YourStringToMatch"/>
			<acceptOnMatch value="false"/>
		</filter>-->
	</appender>

	<!-- Appender for errors only -->
	<appender name="FileAppender.Errors" type="log4net.Appender.RollingFileAppender">
		<immediateFlush value="true"/>
		<file value="..\Logs\Errors@HellolingoWebApp.log" type="log4net.Util.PatternString" />
		<encoding value="utf-8" />
		<threshold value="ERROR" />
		<maximumFileSize value="1GB" />
		<datePattern value="-yyyy-MM-ddTHH" />
		<dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime" />
		<preserveLogFileNameExtension value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss,fff}%property{tab}%thread%property{tab}%-15logger{1}%property{tab}%level%property{tab}%message%newline%exception" />
		</layout>
	</appender>

</log4net>
