<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net debug="false" xdt:Transform="SetAttributes" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
	<appender>
		<!--<immediateFlush value="false" xdt:Transform="SetAttributes"/>-->
	</appender>

	<!-- Appender for everything -->
	<appender name="FileAppender.Info" xdt:Locator="Match(name)">
		<datePattern value="-yyyy-MM-dd" xdt:Transform="Replace"/>
	</appender>

	<!-- Appender for errors only -->
	<appender name="FileAppender.Errors" xdt:Locator="Match(name)">
		<datePattern value="-yyyy-MM-dd" xdt:Transform="Replace"/>
	</appender>

	<!-- Appender for ping events -->
	<appender name="FileAppender.Ping" xdt:Locator="Match(name)">
		<datePattern value="-yyyy-MM-dd" xdt:Transform="Replace"/>
	</appender>

</log4net>
