<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="HelloLingoEntities"
			connectionString="metadata=res://*/DataAccess.SqlModel.csdl|res://*/DataAccess.SqlModel.ssdl|res://*/DataAccess.SqlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=HelloLingo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		/>
		<add name="HangFireConnectionString"
			connectionString="data source=localhost;initial catalog=HelloLingo;integrated security=True;multipleactiveresultsets=True;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		/>
	</connectionStrings>

  <appSettings>
    <add key="xirsys:room" value="production"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"
    />
  </appSettings>
  
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<rule name="Allow any www.hellolingo.net as is" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.hellolingo\.net$"  ignoreCase="true" />
					</conditions>
				</rule>
				<rule name="Redirect hellolingo.com to www.hellolingo.com">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^hellolingo\.com$" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://www.hellolingo.com/{R:1}" />
				</rule>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>


</configuration>